#contenido {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.stat {
    border-right: 1px solid;
}

.raya {
    text-decoration: none;
}

.bg-inventario {
    background-color: #0082c3;

}

.login-user {
    right: 0;
}

#contenido {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.bi-speedometer2 {
    width: 30px;
    height: 20px;
}

.bi-house-add {
    width: 30px;
    height: 20px;
}

.bi-person-add {
    width: 30px;
    height: 20px;
}

.bi-motherboard {
    width: 30px;
    height: 20px;
}

.bi-code-square {
    width: 30px;
    height: 20px;
}